<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./styl.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="row justify-content align-items">
                <div class="logo">
                    <h1>jeel</h1> 
                </div>
                <nav>
                    <ul class="row">
                        <li><a href="">home</a></li>
                        <li><a href="">home</a></li>
                        <li><a href="">home</a></li>
                        <li><a href="">home</a></li>
                    </ul>
                </nav>
                <div class="btnh">
                    <a href="Signup" id="Signup"><button>Signup</button></a>
                    <a href="login" id="Login"><button>Login</button></a>
                </div>
            </div>
        </div>
    </header>
    <script src="./index.js"></script>
</body>
</html>