<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <section id="pass">
        <div class="p-d">
          <h1>forgetPassword</h1>
          <form action="/post" id="pass-f" method="post">
            <input type="password" name="pass" id="p-e"><input type="submit" value="reset" id="p-b">
          </form>
        </div>
      </section>
</body>
</html>